:root {
    --fonte-familia-corpo: 'Montserrat', sans-serif;
    --fonte-familia-logo: 'Pacifico', cursive;

    --fonte-peso-input: 300;

    --fonte-tamanho-logo: 28px;
    --fonte-tamanho-cartao-titulo: 28px;

    
    --cor-primaria: #0071ea; 
    --cor-secundaria: hsl(0, 100%, 74%);
    --cor-contraste-escuro: #4D4D4D;
    --cor-contraste-claro: #fff;
    --cor-aviso: #df2525;

}

 @media(min-width: 800px) {
    :root {
        --fonte-tamanho-logo: 56px;
    }
} 
