@import url(_reset.css);
@import url(_variaveis.css);

body {
	background-color: var(--cor-secundaria);
	color: var(--cor-contraste-escuro);
	font-family: var(--fonte-familia-corpo);
	background-image: url("../img/bg-intro-desktop.png");
}

.cartao{
    background-color: var(--cor-contraste-claro);
    border-radius: 10px;
    max-width: 45rem;
    box-sizing: border-box;
	margin-top: 10rem;
}

.container { 
	padding-right: 1rem;
	padding-left: 1rem;
}

.flex {
	display: flex;
}

.flex--centro {
	align-items: center;
	justify-content: center;
}

.flex--coluna {
	flex-direction: column;
}


